# os staff
.DS_Store
.DS_Store?
web/.DS_Store
._*
Thumbs.db

# created by pub.
build/
packages/
.buildlog
web/packages
lib/packages
test/packages
web/packages

# created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# pubspec.lock
